@import "compass";

/* Couleurs */
$bleuPale: #71a7cb;
$bleu: #1082ce;
$bleuBorder: #357ebd;
$vert: #779329;
$rougeFonce: #a6191b;
$jaune: #fcd205;
$orange:#fec503;

*{@include box-sizing(border-box);}

body{
    margin-top: 80px;
}

.caretUp, .caretDown {
    width: 0px;
    height: 0px;
    margin-left: 2px;
    vertical-align: middle;
    display: inline-block;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 4px dashed;
    border-top: none;
}
.caretDown{border-top: 4px dashed;border-bottom: none ;}
.lineCtrl .progress{margin-bottom: 0;}
.cliquable{cursor: pointer;}
.vertical {
  display: inline-block;
  width: 28px;
  height: 5px;
  @include transform(rotate(-90deg));
}

/* ----- Class pour animer la pagination ----- */
.panneau{
    background-color: #eee;
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    width: 100%;height: 100%;
    overflow-x:hidden;
    overflow-y:scroll;
    -webkit-overflow-scrolling:touch;
    @include transition-duration(.3s);
    z-index: 5;
}
.panneau-padding{padding: 0 20px;}
.panneau-homeMap{overflow: hidden;}

.left{@include transform(translate3D(-100%,0,0));}
.center{@include transform(translate3D(0,0,0));}
.right{@include transform(translate3D(100%,0,0));}
.top{@include transform(translate3D(0,-100%,0));}
.bottom{@include transform(translate3D(0,100%,0));}

.back{
    @include transition-duration(.3s);
    position: absolute;top: 0;left: 0;
    z-index: 10;
}
.notice{
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: auto;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    z-index: 100;
    background-color: #C7C7C7;
    padding: 10px;
    @include border-radius(5px);
}

/* ----- Un peu plus d'icônes ----- */
.glyphicon-map-marker {background-image: url("../img/maps/svg/ic_place_24px.svg"); background-position: 0 0; background-size: 24px 24px;height: 24px;width: 24px; &:before{content:""}}
.glyphicon-bike {background-image: url("../img/maps/svg/ic_directions_bike_24px.svg"); background-position: 0 0; background-size: 24px 24px;height: 24px;width: 24px; &:before{content:""}}
.glyphicon-ferry {background-image: url("../img/maps/svg/ic_directions_ferry_24px.svg"); background-position: 0 0; background-size: 24px 24px;height: 24px;width: 24px; &:before{content:""}}
.glyphicon-car {background-image: url("../img/maps/svg/ic_directions_car_24px.svg"); background-position: 0 0; background-size: 24px 24px;height: 24px;width: 24px; &:before{content:""}}
.glyphicon-train {background-image: url("../img/maps/svg/ic_directions_train_24px.svg"); background-position: 0 0; background-size: 24px 24px;height: 24px;width: 24px; &:before{content:""}}
.glyphicon-metro {background-image: url("../img/maps/svg/ic_directions_subway_24px.svg"); background-position: 0 0; background-size: 24px 24px;height: 24px;width: 24px; &:before{content:""}}
.glyphicon-bus {background-image: url("../img/maps/svg/ic_directions_bus_24px.svg"); background-position: 0 0; background-size: 24px 24px;height: 24px;width: 24px; &:before{content:""}}
.glyphicon-foot {background-image: url("../img/maps/svg/ic_directions_walk_24px.svg"); background-position: 0 0; background-size: 24px 24px;height: 24px;width: 24px; &:before{content:""}}
.glyphicon-my-location {background-image: url("../img/maps/svg/ic_my_location_24px.svg"); background-position: 0 0; background-size: 24px 24px;height: 24px;width: 24px; &:before{content:""}}

    /* ----- Boutons Ronds flotant ----- */
    // .btn:not(.btn-link):not(.btn-flat), .btn-default:not(.btn-link):not(.btn-flat) {
    //     color: 0;
    //     background-color: 0;
    // }
    .btn-fa-container{
        margin-bottom: 6px;
        position: absolute;
        bottom: 0;right: 0;
        z-index: 100;
        @include transition-duration(.3s);
        @include transform(translate3D(0,0,0));
    }
    .btn-fa-container.showBottomSheet{@include transform(translate3D(0,-56px,0));}

    .btn-fa{
        width: 56px;height: 56px;line-height: 56px;
        @include border-radius(50%);
        margin: 0 16px 16px 0;
        display: block;
        outline: none;
        
        text-align: center;
        @include box-shadow(rgba(0, 0, 0, 0.14) 0px 0px 4px, rgba(0, 0, 0, 0.28) 0px 4px 8px);

        &:hover,&:active{
            @include box-shadow(rgba(0,0,0,.18) 0 0 8px, rgba(0,0,0,.36) 0 8px 16px); @include transition-duration(.3s);outline: none;
        }   
    }
    .btn-fa-gps,.btn-fa-gps:active{
        background:#fff url('../img/maps/svg/ic_my_location_24px.svg') center center no-repeat !important;
    }
    .btn-fa-gps:active{
        background-color: #eee; @include transition-duration(.3s);
    }
    .btn-fa-trip,.btn-fa-trip:active{
        background:#4285f4 url('../img/maps/1x_web/ic_directions_white_24dp.png') center center no-repeat !important;
    }
    .btn-fa-trip:active{
        background-color: #79a8fa; @include transition-duration(.3s);
    }



// D3.js
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: $rougeFonce;
}

.bar:hover {
  fill: $orange ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  // font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.bar-default .bar {fill: #009688;}
.bar-black .bar {fill: #000000;}
.bar-white .bar {fill: #ffffff;}
.bar-inverse .bar {fill: #3f51b5;}
.bar-primary .bar {fill: #009688;}
.bar-success .bar {fill: #4caf50;}
.bar-info .bar {fill: #03a9f4;}
.bar-warning .bar {fill: #ff5722;}
.bar-danger .bar {fill: #f44336;}
.bar-material-red .bar {fill: #f44336;}
.bar-material-pink .bar {fill: #e91e63;}
.bar-material-purple .bar {fill: #9c27b0;}
.bar-material-deep-purple .bar {fill: #673ab7;}
.bar-material-indigo .bar {fill: #3f51b5;}
.bar-material-blue .bar {fill: #2196f3;}
.bar-material-light-blue .bar {fill: #03a9f4;}
.bar-material-cyan .bar {fill: #00bcd4;}
.bar-material-teal .bar {fill: #009688;}
.bar-material-green .bar {fill: #4caf50;}
.bar-material-light-green .bar {fill: #8bc34a;}
.bar-material-lime .bar {fill: #cddc39;}
.bar-material-yellow .bar {fill: #ffeb3b;}
.bar-material-amber .bar {fill: #ffc107;}
.bar-material-orange .bar {fill: #ff9800;}
.bar-material-deep-orange .bar {fill: #ff5722;}
.bar-material-brown .bar {fill: #795548;}
.bar-material-grey .bar {fill: #9e9e9e;}
.bar-material-blue-grey .bar {fill: #607d8b;}